[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# data related
requests = "*"
python-dotenv = "*"
Pillow = "*"
opencv-python = "*"
# data science
pandas = "*"
numpy= "*"
scikit-learn = "*"
tqdm = "*"
# nearest neighbors
annoy = "*"
# pytorch
torch = "*"
torchtext = "*"
torchdata = "*"
torch-summary = "*"
torchnet = "*"
pytorch-lightning = "*"
torchvision = "*"
# transformers
transformers = "*"
# metric learning
pytorch-metric-learning = "*"


[dev-packages]
jupyterlab = "*"
matplotlib = "*"
autopep8 = "*"
flake8 = "*"
black = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
